*{
    color: rgb(219, 219, 219);
}

body{
    background-color: rgb(15, 18, 32);
}



.casilla {
    display: inline-block;
    width: 130px;
    height: 130px;
    /* background-color: rgb(255 145 0); */
    border-bottom: #ffffff solid;
    border-left: #ffffff solid;
    
}

#cl1, #cl4, #cl7{
    border-left: none;
}

#cl7, #cl8, #cl9{
    border-bottom: none;
}

.player1{
    background-color: crimson;
}

.bot{
    background-color: rgb(32, 30, 187);
}


input{
  color: #000000;
}
